* 
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root
 {
  --bg: #22;

}
body
{
  display:flex;
  justify-self: center;
  align-items: center;
  min-height: 100vh;
  background:var(--bg);
  background-color: coral;
}
ul
{
  position: relative;
  display: flex;
  gap:50px;
  align-items: center;
  justify-content: center;
  margin: auto;

}
ul li 
{
    position: relative;
    list-style: none;
    width: 80px;
    height: 80;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
ul li a 
{
    position: relative;
    text-decoration: none;
    color:(--clr);
    font-size: 2em;
    transition: 0.5s;
}
ul li:hover 
{
    z-index: 10000;
    transform: scale(0.50);

}
ul li::before
{
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: 0 0 0 10px var(--clr), 0 0 0 20px var(--bg), 0 0 0 22 var(--clr);
    transition: 1s;

}
ul li::after
{
    content: "";
    position: absolute;
    inset: 0;
    background: var(--bg);
    transform: rotate(45deg);
}
